header{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activities-list-header span{
    margin: 20px;
    font-size: 40px;
}
.activity-list-item span{
    margin: 45px;
}

